<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>search profile</title>
  <link rel="stylesheet" href="/search-profile.component.scss">
</head>

<body>
<div class="form-box-search">
<div class="search-container">
  <div class="search-box">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchQuery"
      (keyup.enter)="onSearch()"
    >
    <button class="search-button" (click)="onSearch()">
      <i class="fas fa-search"></i>
      search
    </button>
  </div>
</div>
</div>




</body>
