<app-header></app-header>


<!-- Navbar -->
<div class="navbar">

  <div class=" gap-6 navbar " style="width: 50vw ; justify-content: space-around;
  align-items: center; right: 25vw; left: 25vw; position: absolute" >

    <p-button (click)="logout()" class="nav-item">
      <div class="icons gap-2">
        <p style="font-size: 1.1rem">Abmelden</p>
        <img  src="/assets/icons/exit.png">
      </div>

    </p-button>

    <p-button *ngIf="isdriver === true"   (click)="driverdashboard()" class="nav-item" >
      <div class="icons gap-2">
        <p >Dashboard</p>
        <img  src="/assets/icons/route.png">
      </div>
    </p-button>

    <p-button    (click)="fahrtangebote()" class="nav-item"  >
      <div class="icons gap-2">
        <p >FahrtAngebote</p>
        <img  src="/assets/icons/fahrtangebote.png">
      </div>
    </p-button>


    <p-button (click)="startseite()" class="nav-item">
      <div class="icons gap-2">
        <p >Startseite</p>
        <img  src="/assets/icons/home.png">
      </div>
    </p-button>

  </div>

</div>





<head>
  <meta charset="UTF-8">
  <title>search profile</title>
  <link rel="stylesheet" href="/search-profile.component.scss">
</head>


<div class="form-box-search">
  <div class="search-container">
    <div class="search-box">
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
      >
      <button class="search-button" (click)="onSearch()">
        <i class="fas fa-search"></i>
        search
      </button>
    </div>

    <div class="search-results">

    <div class="custom-card" *ngFor="let customer of drivers; let index = index" >
     <app-customer-card
      [customer]="customer"
      [images]="Images"
      [customerIndex]="index"
      (delete)="deleteCustomer($event)"
      (update)="updateCustomer($event)"
     ></app-customer-card>
    </div>

    </div>
  </div>
</div>









