


<div class="illustration">
  <img src="./images/2FA.jpg">
</div>

<div class="container">
  <h1>Zwei-Faktor-Authentifizierung</h1>
  <p>Bitte gib den Bestätigungscode ein, den wir dir gesendet haben:</p>

  <form class="code-input" required>
    <input type="text" maxlength="1">
    <input type="text" maxlength="1">
    <input type="text" maxlength="1">
    <input type="text" maxlength="1">
    <input type="text" maxlength="1">
    <input type="text" maxlength="1">

  </form>
  <br><br>
  <button class="bttn" type="submit">Bestätigen</button>
</div>

<br><br>


