.profile-container {
  display: flex;
  margin: 2rem auto;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width:1200px;
  height: 600px;
  overflow: hidden;
  flex-direction: row;

  .main-heading {
    text-align: left;
    color: #2c3e50;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #f0f0f0;
    margin-left: 8rem;
  }
}

.icon-block {
  position: absolute;
  left: 60px;
  top: 50%;
  height: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #ddd;


  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #1d2d44;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #1d2d44;
      transform: scale(1.1);
    }

  }
}

.profile-content {
  display: flex;
  gap: 0.5rem;

}

// Left Column Styles

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center; // Bild + Stats zentrieren (horizontal)
  margin-left: -50px;  // leicht nach links verschieben
  flex: 0 0 27%;
  margin-top: 90px;


  .profile-image-container {
    margin-bottom: 30px;
  }
  .avatar {
    width: 220px;  // Bild größe
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.profile-stats {
  display: flex;
  flex-direction: column;
  gap: 35px; // Abstand zwischen den Statistiken
  align-items: center;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 20px;  // Abstand zwischen Icon und Text.
  font-size: 25px;

  i {
    font-size: 18px;
  }

  .stat-content {
    display: flex;
    flex-direction: column; //Zahl über Beschreibung.
    align-items: flex-start;

    .stat-value {
      font-weight: bold;  //fett
    }

    .stat-label {
      font-size: 14px;
      color: #777;
    }
  }
}


// Right Column Styles
.profile-right {
  flex: 0 0 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 100px;
  transform: translateX(20px);

  .profile-details {
    display: flex;
    flex-direction: column;

    .user-header {
      margin-bottom: 5rem;
      border-bottom: 2px solid #f0f0f0;
      align-items: center;
      gap: 1000px;

      h1 {
        margin: 0;
        font-size: 2.9rem;
        color: #2c3e50;
        margin-bottom: 0.9rem;
      }

      .role {
        color: #631a1a;
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0;
        text-transform: uppercase;

      }
    }

    .detail-group {
      margin-bottom: 2rem;


      h2 {
        color: #2c3e50;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid #f0f0f0;
      }

      .detail-item {
        display: flex;
        margin-bottom: 1rem;
        padding: 0.75rem 0;

        .label {
          flex: 0 0 200px;
          color: #6c757d;
          font-weight: 500;
        }

        .value {
          color: #2c3e50;
          font-weight: 500;
        }
      }
    }
  }
}

