<p-button  class="geld"  (click)="togglebalanceDropdown()">
  <div class="icons gap-2" *ngIf="formattedBalance != null">
    <p style="font-size: 1.2rem; color: #0b113f">
      {{ formattedBalance  }}
    </p>
    <img src="/assets/icons/euro.png" alt="€" />
  </div>
</p-button>

<div class="dropdown-container">

  <!-- 2) The “dropdown menu” itself, shown/hidden via *ngIf -->
  <div class="dropdown-menu" *ngIf="isBalanceDropdownOpen">
    <!-- a) Input field to type a new balance -->
    <div class="form-row">
      <label for="balanceInput">Enter amount:</label>
      <input
        type="number"
        id="balanceInput"
        [(ngModel)]="amountInput"
        placeholder="e.g. 100"
      />
    </div>

    <!-- b) Two buttons in one row -->
    <div class="form-row button-row">
      <button (click)="addBalance()" >Add Balance</button>
      <!--           <button (click)="toggleHistory()">-->
      <!--             {{ showHistoryList ? 'Hide History' : 'Show History' }}-->
      <!--           </button>-->
    </div>

  </div>
</div>

<!-- Bewertungs-Overlay -->
<div *ngIf="bewertungAktiv" class="bewertung-overlay">


  <button
    pButton
    type="button"
    icon="pi pi-times"
    class="p-button-rounded p-button-text view-route-btn mb-2 "
    style="color: red; font-size: 1.3rem;
     position: absolute;
     top: 43.5%;
     right: 43.5%;"
    (click)="close()"

  ></button>

  <div class="bewertung-box">

    <h3>Please, Rate the ride: </h3>
     <div class="sterne mb-4 ml-6" style="">

    <p-rating
      [(ngModel)]="sterne"
      [stars]="5"
      [readonly]="false"
      class="custom-rating"
    ></p-rating>

     </div>
    <button (click)="bewertungAbgeben()">Bewertung senden</button>
  </div>
</div>
