:host ::ng-deep body {
  background-color: #1e1e1e;
}
body {
  background-color: #1e1e1e;
}

h2 {
  text-align: center;
  font-size: 1.5rem; // etwas kleiner als Standard (2rem)
  color: #2B4057;    // schönes, dunkles Blau
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  background-color: #2B4057;
}


.site-title {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.logo {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 80px;
    width: auto;
    object-fit: contain;
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2B4057;
  color: white;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.nav-item {
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
}

.nav-item:hover {
  background-color: #444;
  border-radius: 8px;
}


.fahranfragen-tabelle {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  background-color: gray;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;

  thead {
    background-color: #2B4057; // hellblau
    color: white; // tiefblau
    text-transform: uppercase;
    font-weight: bold;
  }

  //Zeile und Spaltenname von der Tabelle
 // th, td {
 //   padding: 0.75rem 1rem;
 //   text-align: left;
  //  border-bottom: 1px solid #e5e7eb;
 // }

  tbody tr:hover {
    background-color: #f3f4f6; // leichtes Grau beim Hover
    transition: background-color 0.2s ease-in-out;
  }



  .highlight-distance {
    color: #2563eb; // blau für Distanz
  }

  .highlight-duration {
    color: #f59e0b; // gelb-orange für Dauer
  }

  .highlight-carClass {
    font-style: italic;
    color: #6b7280; // grau
  }
}

::ng-deep .notification{
  position: absolute;
  right: 20rem;
  top: 3rem;
  font-size: 2rem;


}

.icons {

  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;

}
