/* You can add global styles to this file, and also import other style files */
$gutter: 1rem;

@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.bttn  {
  width: 99%;
  height: 45px;
  background: #23374f;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.6);
  border: #02133b;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.bttn:hover{
  margin-top: 10px;
  align-items: center;
  width: 20%;
  height: 60px;
  background: #182942;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.bttn-register{
  width: 50%;
  height: 45px;
  background: rgba(255, 255, 255, 0.69);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.bttn-register:hover{
  width: 50%;
  height: 45px;
  background: rgba(156, 154, 154, 0.69);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
