


<div class="illustration">
  <p-message
    *ngIf="errorMsg"
    severity="error"
    [text]="errorMsg"
    styleClass="mb-2 w-full"
    class="mb-2"
    [closable]="false"

  ></p-message>
  <img

          src="assets/images/TwoFA.jpg"


  />
</div>

<div class="container">
  <h1>Zwei-Faktor-Authentifizierung</h1>
  <p>Bitte gib den Bestätigungscode ein, den wir dir gesendet haben:</p>

  <form class="code-input" required>
    <input [(ngModel)]="a" (input)="updateFacode(); moveFocus($event, bInput)" name="a" type="text" maxlength="1">
    <input #bInput [(ngModel)]="b" (input)="updateFacode(); moveFocus($event, cInput)" name="b" type="text" maxlength="1">
    <input #cInput [(ngModel)]="c" (input)="updateFacode(); moveFocus($event, dInput)" name="c" type="text" maxlength="1">
    <input #dInput [(ngModel)]="d" (input)="updateFacode(); moveFocus($event, eInput)" name="d" type="text" maxlength="1">
    <input #eInput [(ngModel)]="e" (input)="updateFacode(); moveFocus($event, fInput)" name="e" type="text" maxlength="1">
    <input #fInput [(ngModel)]="f" (input)="updateFacode()" name="f" type="text" maxlength="1">
  </form>
  <br><br>
  <button
    (click)="verify()"
    pButton class="bttn"
    type="submit"
  >Bestätigen</button>
</div>

<br><br>


