@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';


:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Barlow Condensed', sans-serif;
  //background-color: rgba(255, 252, 252, 0.6);
  background: url("/assets/images/welcome.png");
  background-size: cover;
  background-position: center;
}

error-message-custom {
  color: #ff0000; /* Set the text color explicitly to red */
  font-weight: bold; /* Make it stand out with bold text */
  text-align: center; /* Optionally align it to the center */
  margin-bottom: 16px; /* Add some space below the message */
}

.container{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 50px;
  box-shadow: 0 0 30px rgb(27, 34, 44);
}

.form-box{
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.88);
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 1;
}

form{
  width: 100%;
}

.container h1{
  color: #2c2c2c;
  font-size: 60px;
  margin: 10px 0;
}

.input-box {
  position: relative;
  margin: 30px 0;
}
::ng-deep .p-message.p-message {
  color: white;
  font-size: 16px;
  margin-top: 5px;
  background-color: red;
  padding: 10px;
}
::ng-deep .p-password.p-password {
  width: 85%;
  border: none;
  outline: none;
  font-size: 16px;
  color: #4e4e4e;
  font-weight: 500;
  padding: 13px 20px 13px 20px;
  background: rgb(206, 212, 218);
  color: rgba(0, 0, 0, 0.52);
  toggle-group: none;

}

.input-box input{
  width: 85%;
  padding: 13px 50px 13px 20px; /*top,right,bottom,left --> damit der text nur in dem box bleibt*/
  background: rgb(206, 212, 218);
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #4e4e4e;
  font-weight: 500;
}

.input-box i{
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.52);
}

.forgot a{
  font-size:15px;
  color: rgba(0, 0, 0, 0.81);
  text-decoration: none;
}

.bttn ::ng-deep .bttn {
  width: 99%;
  height: 45px;
  background: #23374f;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  font-size: 16px;
  color: #031377;
  font-weight: 500;
}
.bttn:hover{
  width: 99%;
  height: 45px;
  background: #00162c;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.bttn-register{
  width: 50%;
  height: 45px;
  background: rgba(255, 255, 255, 0.69);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.bttn-register:hover{
  width: 50%;
  height: 45px;
  background: rgba(156, 154, 154, 0.69);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}


p{
  font-size: 15px;
  margin-bottom: 20px;
}

.toggle-box{
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #152232;
  border-radius: 50px;
}

.toggle-panel h2{
  color: rgba(255, 255, 255, 0.87);
}

h2{
  color: rgba(255, 255, 255, 0.87);
  font-size: 46px;
}


