
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="container">
  <div class="form-box">
    <form (submit)="onLogin()">
      <h1>Login</h1>

      <div class="input-box">
        <input type="text" placeholder="Benutzername" required>
        <i class='bx bxs-user'></i>
      </div>

      <div class="input-box">
        <input type="password" placeholder="Passwort" required>
        <i class='bx bxs-lock-alt'></i>
      </div>

      <div class="forgot">
        <a href="/forgot-password">Passwort vergessen?</a>
      </div>
      <br><br>

      <button type="submit" class="bttn">Einloggen</button>

    </form>
  </div>
  <div class="toggle-box">
    <div class="toggle-panel">
      <h2> Willkomen!</h2>
      <p>Noch kein Konto? </p>
      <button class="bttn-register">Register</button>
    </div>
  </div>
</div>
