server:
  port: 8080
  error:
    include-message: always

cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"

spring:
  security:

    user:
      name: SEP
      password: SEP


  datasource:
    url: jdbc:postgresql://localhost:5332/SEPDrive
    username: SEPDrive
    password: SEPDriveC7

  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false


  mail:
    host: smtp.gmail.com
    port: 587
    username: sepdrivec@gmail.com
    password: qjsr idci nglo foxw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true



  main:
    web-application-type: servlet


  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB