<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="forgot-container">
  <div class="forgot-left">
    <h2>Zurücksetzen?</h2>
    <p>Passwort vergessen?</p>
    <button class="btn-light" onclick="window.history.back()">Zurück</button>
  </div>

  <div class="forgot-right">
    <h1>Passwort vergessen</h1>
    <p>Bitte gib deine E-Mail-Adresse ein, um dein Passwort zurückzusetzen:</p>
    <form>
      <input [(ngModel)]="email" name="email" type="email" placeholder="E-Mail-Adresse" required />
      <i class='bx bx-envelope'></i>
      <button (click)="send()"  class="btn-dark">Senden</button>
    </form>
  </div>
</div>
